*

.direnv/
result/

.pre-commit-config.yaml

!build.yaml
!.envrc
!flake.lock
!.gitignore
!keymap.svg
!README.md

!*.conf
!*.dtsi
!*.keymap
!*.nix
!*.yml

!.github/
!.github/**/

!config/
!config/**/

!nix/
!nix/**/